body{
    background: url('background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
h1{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
#game-status{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 21px;
    right: 523px;
}
#game-status2{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 76px;
    right: 467px;
}
canvas{
    background-color: white;
}